.home {
  height: 100vh;
  display: flex;
  overflow-y: hidden;
  flex-direction: column;
  &__container {
    display: flex;
    height: calc(100vh - 50px);
  }
}
.main {
  height: calc(100vh - 50px);
  width: calc(100vw - 440px);
  flex-shrink: 0;
  position: relative;
  .meta2d {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: none;
    background: transparent;
    &[data-mark='move'] {
      display: block;
    }
  }
  .buttons {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    z-index: 10000;
    justify-content: space-between;
    & > button {
      margin-right: 18px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  // 大屏背景
  &[data-isscreen='true'] {
    // &[data-isPreview='true'] {
    //   & > canvas {
    //     &:first-of-type {
    //       background: #0c0c20;
    //     }
    //   }
    // }
  }
}
