.home {
  height: 100vh;
  display: flex;
  min-width: 500px;
  overflow-y: hidden;
  flex-direction: column;
  &__container {
    display: flex;
    height: calc(100vh - 50px);
  }
  /* &::-webkit-scrollbar {
    width: 3px !important;
    height: 6px !important;
    background: transparent !important;
  }
  &::-webkit-scrollbar-corner {
    background-color: transparent !important;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #dad7d7 !important;
    border-radius: 4px;
  }
  &::-webkit-scrollbar-track {
    background-color: transparent !important;
  } */
}
.main {
  height: calc(100vh - 50px);
  width: calc(100vw - 460px);
  overflow: hidden;
  flex-shrink: 0;
  position: relative;
  .meta2d {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: none;
    background: transparent;
    &[data-mark='move'] {
      display: block;
    }
  }
  .buttons {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    z-index: 10000;
    justify-content: space-between;
    & > button {
      margin-right: 18px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
