.backgroundComponent {
  height: 100%;

  .tab {
    height: 42px;
    padding: 10px 0 0 16px;
    display: flex;
    border-bottom: 1px solid #e5dfdf;

    .tabItem {
      margin-right: 16px;
      position: relative;

      &.active {
        color: #1890ff;

        &::after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 50%;
          width: 100%;
          height: 2px;
          background: #1890ff;
          transform: translateX(-50%);
        }
      }
    }
  }

  .content {
    padding: 8px 5px;
    overflow: auto;
    height: calc(100% - 52px);

    &__item {
      position: relative;

      &::after {
        content: '';
        border-bottom: 1px solid #d9d9d9;
        width: 240px;
        height: 0;
        left: -17px;
        position: absolute;
        z-index: 2;
      }

      header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 12px;
        color: #262626;
        font-weight: 600;
        line-height: 22px;
      }

      &__pro {
        [class^='selectwrap'] {
          width: 120px !important;
        }

        [class='el-color-picker'] {
          [class~='el-color-dropdown'] {
            right: 0;
          }
        }

        [class~='ant-input-number'] {
          width: 125px;

          &[class~='ant-input-number-focused'] {
            box-shadow: none;
          }

          &:hover {
            border-color: #1890ff;
          }
        }

        & > span {
          font-size: 12px;
          font-weight: 400;
          color: #7f838c;
          letter-spacing: 0;
          white-space: nowrap;
          width: 100px;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        display: flex;
        justify-content: space-between;
        padding: 9px 0;
        align-items: center;
      }

      .keyBor {
        ul {
          padding-left: 16px;
          font-size: 13px;
          margin-bottom: 0;
        }
      }
    }

    .structureWrap {
      display: flex;
      flex-direction: column;

      &__item {
        margin-bottom: 10px;
        display: flex;
        justify-content: space-between;

        &:hover {
          color: #1890ff;
        }

        &__left {
          span {
            margin-right: 8px;
          }
        }

        &__right {
          span {
            cursor: pointer;
            margin-left: 4px;
          }
        }
      }
    }
  }
}
